name: Deploy Java

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Simulate Deploy
        run: echo "Deploying Hello World Java app..."