name: Package Java

on:
  push:
    branches: [ "main" ]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
      - name: Compile
        run: javac src/Main.java
      - name: Create JAR
        run: jar cvf Main.jar -C src/ .
